<footer class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>Services & Partners</h3>
				<ul>
					<li><a href="#">C&K Systems</a></li>
					<li><a href="#">Complete Data Systems</a></li>
					<li><a href="#">Magento eCommerce</a></li>
					<li><a href="#">MageMojo</a></li>
					<li><a href="#">Mordern Retail</a></li>
					<li><a href="#">Retail Information Systems</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Client Links</h3>
				<ul>
					<li><a href="#">Linked Retail Support</a></li>
					<li><a href="#">Authorize.net Support</a></li>
					<li><a href="#">Cayan Support</a></li>
				</ul>
			</div>
			<div class="col-md-6">
				<h3>the form goes here</h3>
			</div>
		</div>
		<div class="social-links row">
			<ul>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-github"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
		<div class="copyright row">
			<p>© All Rights Reserved. Linked Retail</p>
		</div>
	</div>
</footer>
