<a href="#side-menu" class="open-menu"><i class="fa fa-bars"></i></a>
<div class="header-logo container-fluid">
	<img src="images/linkedretail_logo.png">
</div>
<nav id="side-menu">
	<div>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="who_we_are.html">Who We Are</a></li>
			<li><a href="#">Our Solutions</a>
				<ul>
					<li><a href="design.html">Design & Development</a></li>
					<li><a href="pos_integration.html">POS Integration</a></li>
					<li><a href="vendor_integration.html">Vendor Integration</a></li>
				</ul>
			</li>
			<li><a href="clients.html">Clients</a></li>
			<li><a href="#">Partners</a>
				<ul>
					<li><a href="brands.html">Brands</a></li>
					<li><a href="point_of_sale.html">Point-of-Sale</a></li>
					<li><a href="technology.html">Technology</a></li>
				</ul>
			</li>
			<li><a href="join_us.html">Join Us</a></li>
		</ul>
	</div>
</nav>