<!DOCTYPE html>
<html class="">
<!-- head -->
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1" name="viewport">
<link rel="icon" href="images/linkedretail_favicon.png" type="images/png">
<title>Linked Retail</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<!-- body -->
<body>
	<!-- header -->
	<div id="header-container"></div>

	<!-- content -->
	<div id="content">
		YOUR CONTENT GOES HERE
	</div>

	<!-- footer -->
	<div id="footer-container"></div>

</body>

</html> 